.ql-snow * {
  color: black !important;
  text-decoration: none!important;
  font-style: normal!important;
  background: transparent!important;
  font-weight: 300;
}
.ql-snow img{
  display: none;
}


